# data discovery

the target of this script is concatenation all csv files in one file (alldata.cdv)

In [1]:
#import packages
import os 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [4]:
#get files from this path 
files=[file for file in os.listdir(r'C:\Users\Wahbi\Desktop\omarnabi_exemnn\data project\Sales_Data')]
for file in files:
 print(file)

Sales_April_2019.csv
Sales_August_2019.csv
Sales_December_2019.csv
Sales_February_2019.csv
Sales_January_2019.csv
Sales_July_2019.csv
Sales_June_2019.csv
Sales_March_2019.csv
Sales_May_2019.csv
Sales_November_2019.csv
Sales_October_2019.csv
Sales_September_2019.csv

In [7]:
#the path in my descktop  
path=r'C:\Users\Wahbi\Desktop\omarnabi_exemnn\data project\Sales_Data'

In [9]:
#create dataset to all files
alldata=pd.DataFrame()

In [14]:
for file in files:
  data=pd.read_csv(path+'/'+file)
  alldata=pd.concat([alldata,data])

In [15]:
print(alldata)

      Order ID                     Product Quantity Ordered Price Each  \
0       176558        USB-C Charging Cable                2      11.95
1          NaN                         NaN              NaN        NaN
2       176559  Bose SoundSport Headphones                1      99.99
3       176560                Google Phone                1        600
4       176560            Wired Headphones                1      11.99
...        ...                         ...              ...        ...
11681   259353      AAA Batteries (4-pack)                3       2.99
11682   259354                      iPhone                1        700
11683   259355                      iPhone                1        700
11684   259356      34in Ultrawide Monitor                1     379.99
11685   259357        USB-C Charging Cable                1      11.95

           Order Date                         Purchase Address
0      04/19/19 08:46             917 1st St, Dallas, TX 75001
1                 NaN                                      NaN
2      04/07/19 22:30        682 Chestnut St, Boston, MA 02215
3      04/12/19 14:38     669 Spruce St, Los Angeles, CA 90001
4      04/12/19 14:38     669 Spruce St, Los Angeles, CA 90001
...               ...                                      ...
11681  09/17/19 20:56   840 Highland St, Los Angeles, CA 90001
11682  09/01/19 16:00  216 Dogwood St, San Francisco, CA 94016
11683  09/23/19 07:39     220 12th St, San Francisco, CA 94016
11684  09/19/19 17:30   511 Forest St, San Francisco, CA 94016
11685  09/30/19 00:18   250 Meadow St, San Francisco, CA 94016

[186850 rows x 6 columns]

In [24]:
#verification number of rows
filttest=pd.read_csv(path+'/'+'Sales_April_2019.csv')
culmn=len(filttest.columns)
culmn

6

In [26]:
allrows=0
for file in files:
  data=pd.read_csv(path+'/'+file) 
  a=len(data)
  allrows=a+allrows
print(allrows)

186850

In [27]:
alldata.to_csv(path+'/'+'alldata.csv')

In [34]:
alldata.isnull().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

In [36]:
#delete all nulls values
alldata=alldata.dropna(how='all')

In [37]:
alldata

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
11681,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
11682,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
11683,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
11684,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
11685,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [38]:
alldata.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [40]:
alldata.to_csv(path+'/'+'alldatanonull.csv')